section
  h1#flow-regimes Flow regimes
  table
    tbody
      tr
        td #[var M] < 0.3
        td Effectively Incompressible
      tr
        td #[var M] < 1
        td Subsonic
      tr
        td #[var M] > 1
        td Supersonic
      tr
        td 0.8 < #[var M] < 1.2
        td Transonic
      tr
        td #[var M] > 5
        td Hypersonic



section
  h1#aerodynamic-coefficients Aerodynamic Coefficients
  p
    | \[
    |   C_L = \frac{L}{\frac{1}{2} \rho V^2 S} \quad \quad
    |   C_D = \frac{D}{\frac{1}{2} \rho V^2 S} \quad \quad
    |   C_M = \frac{M}{\frac{1}{2} \rho V^2 S \bar{c}} \quad \quad
    | \]
  
  h2 Sectional Coefficients
  p
    | \[
    |   c_L = \frac{L}{\frac{1}{2} \rho V^2 c} \quad \quad
    |   c_D = \frac{D}{\frac{1}{2} \rho V^2 c} \quad \quad
    |   c_M = \frac{M}{\frac{1}{2} \rho V^2 c^2} \quad \quad
    | \]
