div#header-wrapper
  header
    div#title= title
    div#subtitle= subtitle
nav#navbar
  span#navbar-button
  span#navbar-title Introduction
nav#nav
  p#nav-title Contents
  ul
    li
      a(href='thermodynamics.html') Thermodynamics
      span.toggle: span.toggle-arrow
      ul
        li
          a(href='thermodynamics.html#ideal-gas') Ideal Gas
          ul
            li: a(href='thermodynamics.html#perfect-gas') Perfect Gas
        li
          a(href='thermodynamics.html#entropy') Entropy
          ul
            li: a(href='thermodynamics.html#gibbs-relationship') Gibbs Relationship
        li
          a(href='thermodynamics.html#gas-constant') Gas Constant
          ul
            li: a(href='thermodynamics.html#specific-heat-ratio') Ratio of specific heats
  ul
    li
      a(href='fluidmechanics.html') Fluid Mechanics
      span.toggle: span.toggle-arrow
      ul
        li: a(href='fluidmechanics.html#isentropic-flow') Isentropic Flow
        li: a(href='fluidmechanics.html#speed-of-sound') Speed of Sound
  ul
    li
      a(href='aerodynamics.html') Aerodynamics
      span.toggle: span.toggle-arrow
      ul
        li: a(href='aerodynamics.html#vorticity') Vorticity
        li: a(href='aerodynamics.html#flow-regimes') Flow Regimes
