div#header-wrapper
  header
    div#title: a(href='index.html')= title
    div#subtitle: a(href='#')= subtitle
nav#navbar
  span#navbar-button
  span#navbar-title Introduction
nav#nav
  p#nav-title Contents
  ul
    li
      a(href='thermodynamics.html') Thermodynamics
      span.toggle: span.toggle-arrow
      ul
        li: a(href='thermodynamics.html#laws-of-thermodynamics') Laws of thermodynamics
        li
          a(href='thermodynamics.html#ideal-gas') Ideal gas
          ul
            li: a(href='thermodynamics.html#perfect-gas') Perfect gas
        li
          a(href='thermodynamics.html#entropy') Entropy
          ul
            li: a(href='thermodynamics.html#gibbs-relationship') Gibbs relationship
        li
          a(href='thermodynamics.html#gas-constant') Gas constant
          ul
            li: a(href='thermodynamics.html#specific-heat-ratio') Ratio of specific heats
  ul
    li
      a(href='fluidmechanics.html') Fluid mechanics
      span.toggle: span.toggle-arrow
      ul
        li: a(href='fluidmechanics.html#conservation-equations') Conservation equations
        li: a(href='fluidmechanics.html#isentropic-flow') Isentropic flow
        li: a(href='fluidmechanics.html#speed-of-sound') Speed of sound
  ul
    li
      a(href='aerodynamics.html') Aerodynamics
      span.toggle: span.toggle-arrow
      ul
        li: a(href='aerodynamics.html#vorticity') Vorticity
        li: a(href='aerodynamics.html#flow-regimes') Flow regimes
