h2#quantities Quantities
table.c-quantity-table
  thead
    tr
      th Symbol
      th Quantity
      th Units
  tbody
    tr
      td: var c#[sub p]
      td Specific heat capacity at constant pressure
      td J kg#[sup &minus;1]
    tr
      td: var c#[sub v]
      td Specific heat capacity at constant volume
      td J kg#[sup &minus;1]
    tr
      td #[var E], #[var e]
      td Internal energy
      td J
    tr
      td: var F
      td Force
      td N
    tr
      td #[var H], #[var h]
      td Enthalpy
      td J
    tr
      td #[var H], #[var h]
      td Energy head
      td m
    tr
      td: var M
      td Mach number
      td
    tr
      td: var m
      td Mass
      td kg
    tr
      td: var p
      td Pressure
      td Pa (N m#[sup &minus;2])
    tr
      td #[var Q], #[var q]
      td Heat flow into fluid
      td J
    tr
      td: var R
      td Gas constant
      td J K#[sup &minus;1] kg#[sup &minus;1]
    tr
      td #[var S], #[var s]
      td Entropy
      td J K#[sup &minus;1]
    tr
      td: var T
      td Temperature
      td K
    tr
      td #[var U], #[var u], #[var v]
      td Velocity
      td m s#[sup &minus;1]
    tr
      td #[var W], #[var w]
      td Work done by the fluid
      td J
    tr
      td: var &gamma;
      td Ratio of specific heats
      td
    tr
      td: var &mu;
      td Dynamic viscosity
      td Pa s (N s m#[sup &minus;1])
    tr
      td: var &nu;
      td Kinematic viscosity
      td m#[sup 2] s#[sup &minus;1]
    tr
      td: var &rho;
      td Density
      td kg m#[sup &minus;3]

h2#constants Constants
table.c-quantity-table
  thead
    tr
      th Symbol
      th Constant
      th Value
  tbody
    tr
      td: var \( \hat{R} \)
      td Universal Gas Constant
      td 8.314 kJ K#[sup &minus;1] mol#[sup &minus;1]
