- var subtitle = 'Flight mechanics';
- var home = '.';


doctype html
html(lang='en')
  include ../inc/head.jade
  body
    include ../inc/header.jade
    div#main-wrapper: main(role='main')
      include ../inc/latex-declarations.jade



      section
        h1#definitions Definitions
        h2#quantities Quantities
        table.c-quantity-table
          thead
            tr
              th Symbol
              th Quantity
              th Units
          tbody
            tr
              td: var A
              td Aspect Ratio
              td
            tr
              td: var C#[sub D]
              td Drag coefficient
              td
            tr
              td: var C#[sub L]
              td Lift coefficient
              td
            tr
              td: var M
              td Mach number
              td
            tr
              td: var p
              td Pressure
              td Pa (N m#[sup &minus;2])
            tr
              td: var T
              td Temperature
              td K
            tr
              td: var V
              td True airspeed
              td m s#[sup &minus;1]
            tr
              td: var V#[sub E]
              td Equivalent airspeed
              td m s#[sup &minus;1]
            tr
              td: var W
              td Weight
              td N
            tr
              td: var &alpha;
              td Angle of attack
              td rad, &deg;
            tr
              td: var &delta;
              td Relative pressure
              td
            tr
              td: var &theta;
              td Relative temperature
              td
            tr
              td: var &Lambda;
              td Wing sweep
              td
            tr
              td: var &lambda;
              td Taper Ratio
              td
            tr
              td: var &rho;
              td Density
              td kg m#[sup &minus;3]
            tr
              td: var &sigma;
              td Relative density
              td

        h2#terminology Terminology
        dl
          dt Flight path
          dd The path through space traced by the centre of gravity

          dt Equivalent airspeed (EAS)
          dd The airspeed at sea level in the International Standard Atmosphere at which the dynamic pressure is the same as the dynamic pressure at the true airspeed (TAS) and altitude at which the aircraft is flying.
          dd \[ \frac{1}{2} \rho V^2 = \frac{1}{2} \rho_0 V_E^2 \]
          dd \[ V = V_E \left(\frac{\rho_0}{\rho}\right)^\frac{1}{2} = \frac{V_E}{\sqrt{\sigma}} \]
        h3#wing-planform-terminology Wing planform terminology
        dl
          dt Chord
          dd The distance between the leading edge and the trailing edge

          dt Taper ratio
          dd The ratio between the tip chord and the root chord
          dd \[ \lambda = \frac{c_T}{c_R} \] 

          dt Wing sweep
          dd The angle that the wing makes against oncoming flow

          dt Aspect ratio
          dd Non-tapered wings: ratio between the wing span and the mean chord
          dd \[ A = \frac{b}{\bar{c}} \]
          dd Tapered wings: ratio between the wing span and the planform area
          dd \[ A = \frac{b^2}{S} \]



      include ../inc/aerodynamic-terms.jade



      section
        h1#drag Drag
        h2 Drag coefficient
        p The drag coefficient is the sum of the profile drag and the induced drag, with #[var K] being a constant depending on the wing planform shape.
        p \[ C_D = C_{D_0} + C_{D_i} = C_{D_0} + \frac{K}{\pi A}C_L^2 \]

        h2 Minimum drag speed
        p \[ V_{MD} = \left(\frac{2W}{\rho S}\right)^\frac{1}{2} \left(\frac{K}{\pi A C_{D_0}}\right)^\frac{1}{4} \]

        h2 Minimum drag
        p \[ D_{min} = 2W \left(\frac{K C_{D_0}}{\pi A}\right)^\frac{1}{2} \]



    include ../inc/footer.jade
