- var subtitle = 'Fluid mechanics';
- var home = '.';


doctype html
html(lang='en')
  include ../inc/head.jade
  body
    include ../inc/header.jade
    div#main-wrapper: main(role='main')
      include ../inc/latex-declarations.jade

      section
        h1#definitions Definitions
        include ../inc/thermofluid-quantities.jade

        h2#dimensionless-numbers Dimensionless numbers
        dl
          dt Reynolds number
          dd Ratio of the inertial forces to viscous forces in fluid flow.
          dd \[ \mathrm{Re} = \frac{\rho v l}{\mu} = \frac{vl}{\nu} \]
          dt Mach number
          dd Ratio of the velocity to the speed of sound in a fluid.
          dd \[ \mathrm{Ma} = \frac{v}{a} \]

        h2#terminology Terminology
        dl
          dt Fully developed flow
          dd No change over distance except pressure change remains constant.
          dd \[ \ddx{}{x}(X) = 0 \quad , \quad \ddx{P}{x}= \mathrm{const} \]

          dt Steady flow
          dd No change of variables over time.
          dd \[ \ddx{}{t}(X) = 0 \]

          dt Uniform flow
          dd No change of variables over space.
          dd \[ \ddx{}{x}(X) = 0 \quad , \quad \ddx{}{y}(X) = 0 \quad , \quad \ddx{}{z}(X) = 0 \]

          dt Incompressible flow
          dd No change in density over time.
          dd \[ \frac{\mathrm{D} \rho}{\mathrm{D} t} = 0 \]

          dt Inviscid flow
          dd Viscosity and viscous effects are ignored.



      //- section
      //-   h1 Incompressible flow
      //-   h2 Bernoulli's equation
      //-   h1 Compressible flow



      section
        h1#conservation-equations Conservation equations

        h2#mass-conservation Mass conservation
        p \[ \dot{m} = \rho A U \]

        h2#momentum-conservation Momentum conservation
        p Equivalent to Newton's 2nd law.
        p \[ \ddx{}{t}(m U_x) = F_x = m a_x \]

        h2#reynolds-transport-theorem Reynold's Transport Theorem
        p \[ \frac{\mathrm{D} m_{sys}}{\mathrm{D}t} = \pddx{}{t} \int_V{\rho \pdx{V}} + \int_A{\rho \left(\vec{U} \cdot \vec{n} \right) \pdx{A} } \]

        h2#bernoulli-equation Bernoulli's Equation
        p Assumptions:
        ul
          li Flow is steady
          li Flow is inviscid
          li Flow is incompressible
        p \[ \frac{u^2}{2} + \frac{p}{\rho} + g z = \mathrm{const} \]
        h3 Pressure form
        p \[ \frac{1}{2} \rho u^2 + p + \rho g = \mathrm{const} \]
        h3 Energy head form
        p \[ \frac{u^2}{2g} + \frac{p}{\rho g} + z = H \]

        h2 Steady Flow Energy Equation
        p \[ \dot{Q} - \dot{W} = \frac{\mathrm{D}E_{total}}{\mathrm{D}t} = \int_A{\rho \left( c_v T + \frac{u^2}{2} + \frac{p}{\rho} + g z \right) \vec{U} \cdot \vec{\delta A}} \]



      section
        h1#viscosity Viscosity
        p Relationship between kinetic and dynamic viscosity:
        p \[ \nu = \frac{\mu}{\rho} \]
        
        h2 Shear stress
        p \[ \tau(y) = \mu \pddx{u}{y} \]



      section
        h1#isentropic-flow Isentropic flow
        p \[ \dx{s} = 0 \]
        p \[ \frac{c_p}{R} \ln{\frac{T_2}{T_1}} = \ln{\frac{p_2}{p_1}} \]
        p
          | \[ \frac{c_p}{R}
          |    = \frac{c_p}{c_p-c_v}
          |    = \frac{\frac{c_p}{c_v}}{\frac{c_p}{c_v}-1}
          |    = \frac{\gamma}{\gamma - 1} \]



      section
        h1#speed-of-sound Speed of sound
        p \[ a^2 = \gamma R T \]

    include ../inc/footer.jade
