- var subtitle = 'Fluid Mechanics';
- var home = '.';


doctype html
html(lang='en')
  include ../inc/head.jade
  body
    include ../inc/header.jade
    div#main-wrapper: main(role='main')
      include ../inc/latex-declarations.jade
      //- section
      //-   h1 Incompressible flow
      //-   h2 Bernoulli's equation
      //-   h1 Compressible flow
      section
        h1#conservation-equations Conservation equations
        h2#mass-conservation Mass conservation
        p \[ \dot{m} = \rho A U \]
        h2#momentum-conservation Momentum conservation (Newton's 2nd Law)
        p\[ \ddx{}{t}(m U_x) = F_x = m a_x \]
        h2#reynolds-transport-theorem Reynold's Transport Theorem
        p \[ \frac{\mathrm{D} m_{sys}}{\mathrm{D}t} = \pddx{}{t} \int_V{\rho \pdx{V}} + \int_A{\rho \left(\vec{U} \cdot \vec{n} \right) \pdx{A} } \]
      section
        h1#isentropic-flow Isentropic flow
        p \[ \dx{s} = 0 \]
        p \[ \frac{c_p}{R} \ln{\frac{T_2}{T_1}} = \ln{\frac{p_2}{p_1}} \]
        p
          | \[ \frac{c_p}{R}
          |    = \frac{c_p}{c_p-c_v}
          |    = \frac{\frac{c_p}{c_v}}{\frac{c_p}{c_v}-1}
          |    = \frac{\gamma}{\gamma - 1} \]
      section
        h1#speed-of-sound Speed of sound
        p \[ a^2 = \gamma R T \]
    include ../inc/footer.jade
